* {
  box-sizing: border-box;
}

//------------------------------------------------------------------------------

// Variables

// ------------------------------------------------------------------------------

@min: 0%;
@max: 100%;
@font: 'Raleway', sans-serif;
@font2: 'Montserrat', sans-serif;
@main-font-color: #2f2f2f;
@main-font-color-50: rgba(0, 0, 0, 0.6);
@main-font-color-20: rgba(0, 0, 0, 0.2);
@main-red: #de6868;

//--------------------------
// Media Queries
// -------------------------

@smartphone-all: ~"only screen and (max-width: 479px) and (orientation: portrait)";
@smartphone-all-landscape: ~"only screen and (max-width: 736px) and (orientation: landscape)";
@smartphone-small: ~"only screen and (max-width: 330px) and (orientation: portrait)";
@smartphone: ~"only screen and (min-width: 330px) and (max-width: 400px) and (orientation: portrait)";
@smartphone-medium: ~"only screen and (min-width: 400px) and (max-width: 413px) and (orientation: portrait)";
@smartphone-big: ~"only screen and (min-width: 413px) and (max-width: 479px) and (orientation: portrait)";
@tablet-small: ~"only screen and (min-width: 760px) and (max-width: 1024px) and (orientation: portrait)";
@tablet-big: ~"only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait)";
@iPad-landscape: ~"only screen and (width: 1024px) and (height: 768px) and (orientation: landscape)";
@big-screen: ~"only screen and (min-width: 1900px)";

//------------------------------------------------------------------------------

//------------------------------------------------------------------------------

// Classes

// ------------------------------------------------------------------------------

.nobound {
  margin: @min;
  padding: @min;
}

.fs {
  width: @max;
  height: @max;
}

.display (@value: block) {
  display: @value;
}

.position (@pos: absolute) {
  position: @pos;
}

.aligntext (@align: center) {
  text-align: @align;
}

/*   Mixin for perfect absolute positioning - centering    */
.p-center {
  .position;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rel {
  .position(relative);
}

.abs {
  .position;
}

.bg-setup {
  background-position:  center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  -ms-content-zooming: none;
}

strong {
  color: @main-font-color !important;
  font-weight: bolder !important;
}

.section-setup {
  .fs;
  .nobound;
  //
  height: auto !important;
  padding: 5% 20% 5%;

  .container-fluid {
    .fs;
    .nobound;

    h3.mad-section-header {
      .aligntext(left);
      width: 90%;
      margin: auto;
      padding-bottom: 5%;
      //
      .main-text-style;
      color: @main-font-color !important;
      font-size: 27px;
      font-family: 'Raleway', cursive;
      font-weight: bolder;

      .mad-section-header-numbering {
        .display(inline);
        opacity: 0.4;
        font-size: 30px;
        font-family: 'Raleway', sans-serif;
        font-weight: normal;
      }
    }
  }
}

.main-content-style {
  .aligntext(justify);
  width: 90%;
  margin: auto;
  //
  .main-text-style;

  p {
    margin: 5% 0;
  }
}

.main-text-style {
  color: @main-font-color-50;
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 200%;
}

.h4-heading-style {
  padding: 0 0 4%;
  //
  color: @main-font-color;
  font-size: 16px !important;
  font-weight: bold;
}

.red-highlight {
  color: @main-red !important;
}

.sub-explanation {
  font-size: 10px !important;
}

//-------------------------------------------------------------

//                        Animations

//-------------------------------------------------------------



//-------------------------------------------------------------

body, html, div, span, p, a, img, header, footer, span, ul, li, section, nav, aside, article, figure, figcaption, h1, h2, h3, h4, h5, h6, i {
  .display;
  .nobound;
  //outline: red 1px solid;

  &:focus {
    border: none;
    outline: none;
  }
}

// Link General Styling

a:link, a:visited, a:hover, a:active {
  .display(inline);
  color: @main-font-color;
  text-decoration: none !important;
  font-weight: bolder;
}

a:hover {
  text-decoration: underline !important;
}

//

a.mad-ref-link:link, a.mad-ref-link:visited, a.mad-ref-link:hover, a.mad-ref-link:active {
  color: @main-font-color-50;
  text-decoration: none !important;
  font-size: 14px;
  opacity: 0.6;
}

a.mad-ref-link:hover {
  opacity: 1;
}

//

.link-main {
  color: @main-red !important;
}

//

html {
  background: #f7f2ea;
  .bg-setup;
}


body,html {
  .fs;
  .aligntext;
  color: @main-font-color;
  font-family: @font;
  font-size: @max;
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  background: #f7f2ea;
}

//-------------------------------------------------------------

//                        Main CSS

//-------------------------------------------------------------

// Pre-Loader
#pre-loader {
  //.rel;
  .fs;
  .nobound;
  //
  transition: opacity 1s, transform 1s;
  opacity: 1 !important;
  transform: scale(1) !important;

  #pre-loader-spinner {
    .p-center;
    font-size: 25px;
  }
}

#mad-content {
  .fs;
  .nobound;

  // 01 Header
  #mad-header {
    .fs;
    .nobound;
    //
    height: 100vh !important;
    padding: 3% 20% 3%;

    .container-fluid {
      .fs;
      .nobound;

      #mad-header-image {
        width: 80%;
        margin: auto;
      }

      #mad-header-heading {
        .aligntext;
        padding-bottom: 5%;
        //
        font-family: 'Germania One', cursive;
        font-size: 40px;
        letter-spacing: 0.05em;
      }

      #mad-header-sub-heading {
        padding-bottom: 6%;
        //
        color: @main-font-color-50;
        font-size: 14px;
        letter-spacing: 0.1em;
        font-weight: bolder;
      }

      #mad-header-author-tag {
        font-size: 11px;
        letter-spacing: 0.1em;

        .fa-heart {
          color: #de6868;
        }

        a {
          .display(inline);
        }

        a:link, a:visited, a:hover, a:active {
          color: @main-font-color;
          font-weight: bolder;
        }
      }
    }
  }

  // 02 Introduction
  #mad-introduction {
    .section-setup;

    .container-fluid {

      #mad-introduction-content {
        .main-content-style;
      }
    }
  }

  // 03 Preparation
  #mad-preparation {
    .section-setup;

    .container-fluid {

      #mad-preparation-content {
        .main-content-style;

        #mad-preparation-standards {
          .nobound;

          li {
            padding: 5% 0 3%;
            //
            border-top: 0.5px @main-font-color-20 solid !important;

            h4 {
              .h4-heading-style;

              .fa-question-circle-o {
                color: @main-red;
                transform: scale(1.5);
                margin-right: 1%;
              }
            }

            p {
              margin: 0 0 2%;
            }
          }
        }
      }
    }
  }

  // 03 Average Income
  #mad-income {
    .section-setup;
    padding: 5% 10% 5% !important;

    .container-fluid {

      h3.mad-section-header {
        width: 100%;
        padding: 0 16% 5%;
      }

      .mad-income-content {
        .main-content-style;
        width: 100%;
        padding: 0 16% 0;
      }

      #mad-income-stats {
        .main-content-style;
        width: 90% !important;
        padding: 5% 0;

        h4 {
          .h4-heading-style;
          color: @main-font-color-50 !important;
          letter-spacing: 0px;
          margin-bottom: 3%;

          span {
            .display(inline);
            font-size: 14px;
            opacity: 0.4;
          }
        }

        ol.mad-income-stats-list {
          .nobound;

          li:first-child {
            border-top: 0.5px @main-font-color-20 solid;
          }

          li {
            width: 90%;
            padding: 3%;
            border-bottom: 0.5px @main-font-color-20 solid;

            &:hover {
              background: rgba(200, 200, 200, 0.2);
              cursor: pointer;
            }

            span {
              .display(inline);
            }

            .mad-income-stats-no {
              opacity: 0.4;
              font-weight: normal;
              margin-right: 5px;
            }

            .mad-income-stats-no-last {
              opacity: 0.4;
              font-weight: normal;
              margin-right: 8px;
            }

            .mad-income-stats-img {
              .display(inline);
              width: 30px !important;
              height: 18px !important;
              vertical-align: middle;
              margin: 0 2%;
              //
              box-shadow: 0 0 5px @main-font-color-50;
            }

            .mad-income-stats-country {
              font-weight: bolder !important;
            }

            .mad-income-stats-value {
              float: right;
              font-family: @font2 !important;
            }
          }
        }

      }
    }
  }

  // XX References
  #mad-references {
    .section-setup;

    .container-fluid {
      .fs;
      .nobound;

      #mad-references-list {
        .main-text-style;
        padding-left: 5%;
        font-size: 10px !important;

        li {
          .aligntext(left) !important;
          margin: 2% 0;
          //
        }
      }
    }
  }
}