* {
  box-sizing: border-box;
}
.nobound {
  margin: 0%;
  padding: 0%;
}
.fs {
  width: 100%;
  height: 100%;
}
/*   Mixin for perfect absolute positioning - centering    */
.p-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.bg-setup {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  -ms-content-zooming: none;
}
strong {
  color: #2f2f2f !important;
  font-weight: bolder !important;
}
.section-setup {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  height: auto !important;
  padding: 5% 20% 5%;
}
.section-setup .container-fluid {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
}
.section-setup .container-fluid h3.mad-section-header {
  text-align: left;
  width: 90%;
  margin: auto;
  padding-bottom: 5%;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 200%;
  color: #2f2f2f !important;
  font-size: 27px;
  font-family: 'Raleway', cursive;
  font-weight: bolder;
}
.section-setup .container-fluid h3.mad-section-header .mad-section-header-numbering {
  display: inline;
  opacity: 0.4;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}
.main-content-style {
  text-align: justify;
  width: 90%;
  margin: auto;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 200%;
}
.main-content-style p {
  margin: 5% 0;
}
.main-text-style {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 200%;
}
.h4-heading-style {
  padding: 0 0 4%;
  color: #2f2f2f;
  font-size: 16px !important;
  font-weight: bold;
}
.red-highlight {
  color: #de6868 !important;
}
.sub-explanation {
  font-size: 10px !important;
}
body,
html,
div,
span,
p,
a,
img,
header,
footer,
span,
ul,
li,
section,
nav,
aside,
article,
figure,
figcaption,
h1,
h2,
h3,
h4,
h5,
h6,
i {
  display: block;
  margin: 0%;
  padding: 0%;
}
body:focus,
html:focus,
div:focus,
span:focus,
p:focus,
a:focus,
img:focus,
header:focus,
footer:focus,
span:focus,
ul:focus,
li:focus,
section:focus,
nav:focus,
aside:focus,
article:focus,
figure:focus,
figcaption:focus,
h1:focus,
h2:focus,
h3:focus,
h4:focus,
h5:focus,
h6:focus,
i:focus {
  border: none;
  outline: none;
}
a:link,
a:visited,
a:hover,
a:active {
  display: inline;
  color: #2f2f2f;
  text-decoration: none !important;
  font-weight: bolder;
}
a:hover {
  text-decoration: underline !important;
}
a.mad-ref-link:link,
a.mad-ref-link:visited,
a.mad-ref-link:hover,
a.mad-ref-link:active {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none !important;
  font-size: 14px;
  opacity: 0.6;
}
a.mad-ref-link:hover {
  opacity: 1;
}
.link-main {
  color: #de6868 !important;
}
html {
  background: #f7f2ea;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  -ms-content-zooming: none;
}
body,
html {
  width: 100%;
  height: 100%;
  text-align: center;
  color: #2f2f2f;
  font-family: 'Raleway', sans-serif;
  font-size: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
body {
  background: #f7f2ea;
}
#pre-loader {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  transition: opacity 1s, transform 1s;
  opacity: 1 !important;
  transform: scale(1) !important;
}
#pre-loader #pre-loader-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
}
#mad-content {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
}
#mad-content #mad-header {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  height: 100vh !important;
  padding: 3% 20% 3%;
}
#mad-content #mad-header .container-fluid {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
}
#mad-content #mad-header .container-fluid #mad-header-image {
  width: 80%;
  margin: auto;
}
#mad-content #mad-header .container-fluid #mad-header-heading {
  text-align: center;
  padding-bottom: 5%;
  font-family: 'Germania One', cursive;
  font-size: 40px;
  letter-spacing: 0.05em;
}
#mad-content #mad-header .container-fluid #mad-header-sub-heading {
  padding-bottom: 6%;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  letter-spacing: 0.1em;
  font-weight: bolder;
}
#mad-content #mad-header .container-fluid #mad-header-author-tag {
  font-size: 11px;
  letter-spacing: 0.1em;
}
#mad-content #mad-header .container-fluid #mad-header-author-tag .fa-heart {
  color: #de6868;
}
#mad-content #mad-header .container-fluid #mad-header-author-tag a {
  display: inline;
}
#mad-content #mad-header .container-fluid #mad-header-author-tag a:link,
#mad-content #mad-header .container-fluid #mad-header-author-tag a:visited,
#mad-content #mad-header .container-fluid #mad-header-author-tag a:hover,
#mad-content #mad-header .container-fluid #mad-header-author-tag a:active {
  color: #2f2f2f;
  font-weight: bolder;
}
#mad-content #mad-introduction {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  height: auto !important;
  padding: 5% 20% 5%;
}
#mad-content #mad-introduction .container-fluid {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
}
#mad-content #mad-introduction .container-fluid h3.mad-section-header {
  text-align: left;
  width: 90%;
  margin: auto;
  padding-bottom: 5%;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 200%;
  color: #2f2f2f !important;
  font-size: 27px;
  font-family: 'Raleway', cursive;
  font-weight: bolder;
}
#mad-content #mad-introduction .container-fluid h3.mad-section-header .mad-section-header-numbering {
  display: inline;
  opacity: 0.4;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}
#mad-content #mad-introduction .container-fluid #mad-introduction-content {
  text-align: justify;
  width: 90%;
  margin: auto;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 200%;
}
#mad-content #mad-introduction .container-fluid #mad-introduction-content p {
  margin: 5% 0;
}
#mad-content #mad-preparation {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  height: auto !important;
  padding: 5% 20% 5%;
}
#mad-content #mad-preparation .container-fluid {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
}
#mad-content #mad-preparation .container-fluid h3.mad-section-header {
  text-align: left;
  width: 90%;
  margin: auto;
  padding-bottom: 5%;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 200%;
  color: #2f2f2f !important;
  font-size: 27px;
  font-family: 'Raleway', cursive;
  font-weight: bolder;
}
#mad-content #mad-preparation .container-fluid h3.mad-section-header .mad-section-header-numbering {
  display: inline;
  opacity: 0.4;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}
#mad-content #mad-preparation .container-fluid #mad-preparation-content {
  text-align: justify;
  width: 90%;
  margin: auto;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 200%;
}
#mad-content #mad-preparation .container-fluid #mad-preparation-content p {
  margin: 5% 0;
}
#mad-content #mad-preparation .container-fluid #mad-preparation-content #mad-preparation-standards {
  margin: 0%;
  padding: 0%;
}
#mad-content #mad-preparation .container-fluid #mad-preparation-content #mad-preparation-standards li {
  padding: 5% 0 3%;
  border-top: 0.5px rgba(0, 0, 0, 0.2) solid !important;
}
#mad-content #mad-preparation .container-fluid #mad-preparation-content #mad-preparation-standards li h4 {
  padding: 0 0 4%;
  color: #2f2f2f;
  font-size: 16px !important;
  font-weight: bold;
}
#mad-content #mad-preparation .container-fluid #mad-preparation-content #mad-preparation-standards li h4 .fa-question-circle-o {
  color: #de6868;
  transform: scale(1.5);
  margin-right: 1%;
}
#mad-content #mad-preparation .container-fluid #mad-preparation-content #mad-preparation-standards li p {
  margin: 0 0 2%;
}
#mad-content #mad-income {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  height: auto !important;
  padding: 5% 20% 5%;
  padding: 5% 10% 5% !important;
}
#mad-content #mad-income .container-fluid {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
}
#mad-content #mad-income .container-fluid h3.mad-section-header {
  text-align: left;
  width: 90%;
  margin: auto;
  padding-bottom: 5%;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 200%;
  color: #2f2f2f !important;
  font-size: 27px;
  font-family: 'Raleway', cursive;
  font-weight: bolder;
}
#mad-content #mad-income .container-fluid h3.mad-section-header .mad-section-header-numbering {
  display: inline;
  opacity: 0.4;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}
#mad-content #mad-income .container-fluid h3.mad-section-header {
  width: 100%;
  padding: 0 16% 5%;
}
#mad-content #mad-income .container-fluid .mad-income-content {
  text-align: justify;
  width: 90%;
  margin: auto;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 200%;
  width: 100%;
  padding: 0 16% 0;
}
#mad-content #mad-income .container-fluid .mad-income-content p {
  margin: 5% 0;
}
#mad-content #mad-income .container-fluid #mad-income-stats {
  text-align: justify;
  width: 90%;
  margin: auto;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 200%;
  width: 90% !important;
  padding: 5% 0;
}
#mad-content #mad-income .container-fluid #mad-income-stats p {
  margin: 5% 0;
}
#mad-content #mad-income .container-fluid #mad-income-stats h4 {
  padding: 0 0 4%;
  color: #2f2f2f;
  font-size: 16px !important;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6) !important;
  letter-spacing: 0px;
  margin-bottom: 3%;
}
#mad-content #mad-income .container-fluid #mad-income-stats h4 span {
  display: inline;
  font-size: 14px;
  opacity: 0.4;
}
#mad-content #mad-income .container-fluid #mad-income-stats ol.mad-income-stats-list {
  margin: 0%;
  padding: 0%;
}
#mad-content #mad-income .container-fluid #mad-income-stats ol.mad-income-stats-list li:first-child {
  border-top: 0.5px rgba(0, 0, 0, 0.2) solid;
}
#mad-content #mad-income .container-fluid #mad-income-stats ol.mad-income-stats-list li {
  width: 90%;
  padding: 3%;
  border-bottom: 0.5px rgba(0, 0, 0, 0.2) solid;
}
#mad-content #mad-income .container-fluid #mad-income-stats ol.mad-income-stats-list li:hover {
  background: rgba(200, 200, 200, 0.2);
  cursor: pointer;
}
#mad-content #mad-income .container-fluid #mad-income-stats ol.mad-income-stats-list li span {
  display: inline;
}
#mad-content #mad-income .container-fluid #mad-income-stats ol.mad-income-stats-list li .mad-income-stats-no {
  opacity: 0.4;
  font-weight: normal;
  margin-right: 5px;
}
#mad-content #mad-income .container-fluid #mad-income-stats ol.mad-income-stats-list li .mad-income-stats-no-last {
  opacity: 0.4;
  font-weight: normal;
  margin-right: 8px;
}
#mad-content #mad-income .container-fluid #mad-income-stats ol.mad-income-stats-list li .mad-income-stats-img {
  display: inline;
  width: 30px !important;
  height: 18px !important;
  vertical-align: middle;
  margin: 0 2%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}
#mad-content #mad-income .container-fluid #mad-income-stats ol.mad-income-stats-list li .mad-income-stats-country {
  font-weight: bolder !important;
}
#mad-content #mad-income .container-fluid #mad-income-stats ol.mad-income-stats-list li .mad-income-stats-value {
  float: right;
  font-family: 'Montserrat', sans-serif !important;
}
#mad-content #mad-references {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  height: auto !important;
  padding: 5% 20% 5%;
}
#mad-content #mad-references .container-fluid {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
}
#mad-content #mad-references .container-fluid h3.mad-section-header {
  text-align: left;
  width: 90%;
  margin: auto;
  padding-bottom: 5%;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 200%;
  color: #2f2f2f !important;
  font-size: 27px;
  font-family: 'Raleway', cursive;
  font-weight: bolder;
}
#mad-content #mad-references .container-fluid h3.mad-section-header .mad-section-header-numbering {
  display: inline;
  opacity: 0.4;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}
#mad-content #mad-references .container-fluid {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
}
#mad-content #mad-references .container-fluid #mad-references-list {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 200%;
  padding-left: 5%;
  font-size: 10px !important;
}
#mad-content #mad-references .container-fluid #mad-references-list li {
  text-align: left !important;
  margin: 2% 0;
}
/*# sourceMappingURL=index.css.map */