* {
  box-sizing: border-box;
}

//------------------------------------------------------------------------------

// Variables

// ------------------------------------------------------------------------------

@min: 0%;
@max: 100%;
@font: 'Raleway', sans-serif;
@main-font-color: #2f2f2f;
@main-font-color-50: rgba(0, 0, 0, 0.6);

//--------------------------
// Media Queries
// -------------------------

@smartphone-all: ~"only screen and (max-width: 479px) and (orientation: portrait)";
@smartphone-all-landscape: ~"only screen and (max-width: 736px) and (orientation: landscape)";
@smartphone-small: ~"only screen and (max-width: 330px) and (orientation: portrait)";
@smartphone: ~"only screen and (min-width: 330px) and (max-width: 400px) and (orientation: portrait)";
@smartphone-medium: ~"only screen and (min-width: 400px) and (max-width: 413px) and (orientation: portrait)";
@smartphone-big: ~"only screen and (min-width: 413px) and (max-width: 479px) and (orientation: portrait)";
@tablet-small: ~"only screen and (min-width: 760px) and (max-width: 1024px) and (orientation: portrait)";
@tablet-big: ~"only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait)";
@iPad-landscape: ~"only screen and (width: 1024px) and (height: 768px) and (orientation: landscape)";
@big-screen: ~"only screen and (min-width: 1900px)";

//------------------------------------------------------------------------------

//------------------------------------------------------------------------------

// Classes

// ------------------------------------------------------------------------------

.nobound {
  margin: @min;
  padding: @min;
}

.fs {
  width: @max;
  height: @max;
}

.display (@value: block) {
  display: @value;
}

.position (@pos: absolute) {
  position: @pos;
}

.aligntext (@align: center) {
  text-align: @align;
}

/*   Mixin for perfect absolute positioning - centering    */
.p-center {
  .position;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rel {
  .position(relative);
}

.abs {
  .position;
}

.bg-setup {
  background-position:  center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  -ms-content-zooming: none;
}

//

//-------------------------------------------------------------

//                        Animations

//-------------------------------------------------------------



//-------------------------------------------------------------

body, html, div, span, p, a, img, header, footer, span, ul, li, section, nav, aside, article, figure, figcaption, h1, h2, h3, h4, h5, h6, i {
  .display;
  .nobound;
  //outline: red 1px solid;

  &:focus {
    border: none;
    outline: none;
  }
}

html {
  background: #f7f2ea;
  .bg-setup;
}


body,html {
  .fs;
  .aligntext;
  color: @main-font-color;
  font-family: @font;
  font-size: @max;
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  background: #f7f2ea;
}

//-------------------------------------------------------------

//                        Main CSS

//-------------------------------------------------------------

// Pre-Loader
#pre-loader {
  //.rel;
  .fs;
  .nobound;
  //
  transition: opacity 1s, transform 1s;
  opacity: 1 !important;
  transform: scale(1) !important;

  #pre-loader-spinner {
    .p-center;
    font-size: 25px;
  }
}

#mad-content {
  .fs;
  .nobound;

  // 01 Header
  #mad-header {
    .fs;
    .nobound;
    //
    height: 100vh !important;
    padding: 3% 20% 0;

    .container-fluid {
      .fs;
      .nobound;

      #mad-header-image {
        width: 80%;
        margin: auto;
      }

      #mad-header-heading {
        .aligntext;
        padding-bottom: 5%;
        //
        font-family: 'Germania One', cursive;
        font-size: 40px;
        letter-spacing: 0.05em;
      }

      #mad-header-sub-heading {
        padding-bottom: 6%;
        //
        color: @main-font-color-50;
        font-size: 14px;
        letter-spacing: 0.1em;
        font-weight: bolder;
      }

      #mad-header-author-tag {
        font-size: 11px;
        letter-spacing: 0.1em;

        .fa-heart {
          color: #de6868;
        }

        a {
          .display(inline);
        }

        a:link, a:visited, a:hover, a:active {
          color: @main-font-color;
          font-weight: bolder;
        }
      }
    }
  }
}