* {
  box-sizing: border-box;
}
.nobound {
  margin: 0%;
  padding: 0%;
}
.fs {
  width: 100%;
  height: 100%;
}
/*   Mixin for perfect absolute positioning - centering    */
.p-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.bg-setup {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  -ms-content-zooming: none;
}
@-webkit-keyframes autofill {
  to {
    color: #2f2f2f !important;
    background: none !important;
  }
}
@keyframes autofill {
  to {
    color: #2f2f2f !important;
    background: none !important;
  }
}
strong {
  color: #2f2f2f !important;
  font-weight: bolder !important;
}
.section-setup {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  height: auto !important;
  padding: 5% 20% 5%;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  .section-setup {
    padding: 5% 7%;
  }
}
.section-setup .container-fluid {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
}
.section-setup .container-fluid h3.mad-section-header {
  text-align: left;
  width: 90%;
  margin: auto;
  padding-bottom: 5%;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 200%;
  color: #2f2f2f !important;
  font-size: 27px;
  font-family: 'Raleway', cursive;
  font-weight: bolder;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  .section-setup .container-fluid h3.mad-section-header {
    font-size: 10px;
  }
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  .section-setup .container-fluid h3.mad-section-header {
    font-size: 20px;
  }
}
.section-setup .container-fluid h3.mad-section-header .mad-section-header-numbering {
  display: inline;
  opacity: 0.4;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}
.main-content-style {
  text-align: justify;
  width: 90%;
  margin: auto;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 200%;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  .main-content-style {
    font-size: 10px;
  }
}
.main-content-style p {
  margin: 5% 0;
}
.main-text-style {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 200%;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  .main-text-style {
    font-size: 10px;
  }
}
.h4-heading-style {
  padding: 0 0 4%;
  color: #2f2f2f;
  font-size: 16px !important;
  font-weight: bold;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  .h4-heading-style {
    padding: 4% 0 8%;
    font-size: 14px !important;
    letter-spacing: 0px;
    line-height: 170%;
  }
}
.red-highlight {
  color: #de6868 !important;
}
.sub-explanation {
  font-size: 10px !important;
}
.mad-content-video {
  width: 100% !important;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  opacity: 0.8;
  transition: opacity 1s, box-shadow 1s;
}
.mad-content-video:hover {
  transition: opacity 1s, box-shadow 1s;
  opacity: 1;
  box-shadow: 0 0 20px #2f2f2f;
}
.question-list-style {
  margin: 0%;
  padding: 0%;
}
.question-list-style li {
  padding: 5% 0 3%;
  border-top: 0.5px rgba(0, 0, 0, 0.2) solid !important;
}
.question-list-style li h4 {
  padding: 0 0 4%;
  color: #2f2f2f;
  font-size: 16px !important;
  font-weight: bold;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  .question-list-style li h4 {
    padding: 4% 0 8%;
    font-size: 14px !important;
    letter-spacing: 0px;
    line-height: 170%;
  }
}
.question-list-style li h4 .fa-question-circle-o {
  color: #de6868;
  transform: scale(1.5);
  margin-right: 1%;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  .question-list-style li h4 .fa-question-circle-o {
    margin-right: 4%;
    letter-spacing: 0px;
  }
}
.question-list-style li p {
  margin: 0 0 2%;
}
.mad-stats-list {
  margin: 0%;
  padding: 0%;
}
.mad-stats-list li:first-child {
  border-top: 0.5px rgba(0, 0, 0, 0.2) solid;
}
.mad-stats-list li {
  width: 90%;
  padding: 3%;
  border-bottom: 0.5px rgba(0, 0, 0, 0.2) solid;
}
.mad-stats-list li:hover {
  background: rgba(200, 200, 200, 0.2);
  cursor: pointer;
}
.mad-stats-list li span {
  display: inline;
}
.mad-stats-list li .mad-income-stats-no {
  opacity: 0.4;
  font-weight: normal;
  margin-right: 5px;
}
.mad-stats-list li .mad-income-stats-no-last {
  opacity: 0.4;
  font-weight: normal;
  margin-right: 8px;
}
.mad-stats-list li .mad-income-stats-img {
  display: inline;
  width: 30px !important;
  height: 18px !important;
  vertical-align: middle;
  margin: 0 2%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  .mad-stats-list li .mad-income-stats-img {
    width: 20px !important;
    height: 12px !important;
    margin: 0 4% 0 2%;
  }
}
.mad-stats-list li .mad-income-stats-country {
  font-weight: bolder !important;
}
.mad-stats-list li .mad-income-stats-value {
  float: right;
  font-family: 'Montserrat', sans-serif !important;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  .mad-stats-list li .mad-income-stats-value {
    font-size: 5px;
  }
}
.mad-chart-container {
  margin: 10% 0;
}
body,
html,
div,
span,
p,
a,
img,
header,
footer,
span,
ul,
li,
section,
nav,
aside,
article,
figure,
figcaption,
h1,
h2,
h3,
h4,
h5,
h6,
i {
  display: block;
  margin: 0%;
  padding: 0%;
}
body:focus,
html:focus,
div:focus,
span:focus,
p:focus,
a:focus,
img:focus,
header:focus,
footer:focus,
span:focus,
ul:focus,
li:focus,
section:focus,
nav:focus,
aside:focus,
article:focus,
figure:focus,
figcaption:focus,
h1:focus,
h2:focus,
h3:focus,
h4:focus,
h5:focus,
h6:focus,
i:focus {
  border: none;
  outline: none;
}
a:link,
a:visited,
a:hover,
a:active {
  display: inline;
  color: #2f2f2f;
  text-decoration: none !important;
  font-weight: bolder;
}
a:hover {
  text-decoration: underline !important;
}
a.mad-ref-link:link,
a.mad-ref-link:visited,
a.mad-ref-link:hover,
a.mad-ref-link:active {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none !important;
  font-size: 14px;
  opacity: 0.6;
}
a.mad-ref-link:hover {
  opacity: 1;
}
.link-main {
  display: inline;
  color: #de6868 !important;
}
.link-main-green {
  display: inline;
  color: #619358 !important;
}
html {
  background: #f7f2ea;
}
body,
html {
  width: 100%;
  height: 100%;
  text-align: center;
  color: #2f2f2f;
  font-family: 'Raleway', sans-serif;
  font-size: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
body {
  background: #f7f2ea;
  height: auto;
}
hr {
  width: 80% !important;
  border-top: 0.5px solid rgba(0, 0, 0, 0.2);
}
#pre-loader {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  transition: opacity 1s, transform 1s;
  opacity: 1 !important;
  transform: scale(1) !important;
}
#pre-loader #pre-loader-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
}
#mad-content {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  height: auto !important;
}
#mad-content #mad-navigation {
  position: fixed;
  width: 100% !important;
  background: #f7f2ea !important;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  z-index: 9999 !important;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-navigation {
    justify-content: flex-end;
  }
}
#mad-content #mad-navigation .mad-navbar-brand {
  margin: 0% !important;
  padding: 0% !important;
}
#mad-content #mad-navigation .mad-navbar-brand img {
  width: 75px !important;
  height: 50px !important;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-navigation .mad-navbar-brand {
    width: 85%;
  }
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-navigation .mad-navbar-toggler {
    float: right !important;
  }
}
#mad-content #mad-navigation .mad-navbar {
  color: rgba(0, 0, 0, 0.6) !important;
  font-size: 14px !important;
  letter-spacing: 0.1em !important;
  line-height: 200% !important;
  font-size: 12px !important;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-navigation .mad-navbar {
    font-size: 10px;
  }
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-navigation .mad-navbar {
    text-align: center;
  }
}
#mad-content #mad-navigation .mad-navbar .mad-navbar-nav {
  float: right;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-navigation .mad-navbar .mad-navbar-nav {
    width: 100%;
  }
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-navigation .mad-navbar .mad-navbar-nav li {
    padding: 5% 0;
  }
}
#mad-content #mad-navigation .mad-navbar .mad-navbar-nav a {
  padding: 0 1.2rem;
}
#mad-content #mad-navigation .mad-navbar .mad-navbar-nav a:hover {
  text-decoration: none !important;
}
#mad-content #mad-header {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  height: 100vh !important;
  padding: 3% 20% 3%;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-header {
    padding: 5%;
  }
}
#mad-content #mad-header .container-fluid {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
}
#mad-content #mad-header .container-fluid #mad-header-image {
  width: 80%;
  margin: auto;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-header .container-fluid #mad-header-image {
    width: 100%;
    margin: 20% auto 30%;
  }
}
#mad-content #mad-header .container-fluid #mad-header-heading {
  text-align: center;
  padding-bottom: 5%;
  font-family: 'Germania One', cursive;
  font-size: 40px;
  letter-spacing: 0.05em;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-header .container-fluid #mad-header-heading {
    font-size: 20px;
    margin-bottom: 5%;
  }
}
#mad-content #mad-header .container-fluid #mad-header-sub-heading {
  padding-bottom: 6%;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  letter-spacing: 0.1em;
  font-weight: bolder;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-header .container-fluid #mad-header-sub-heading {
    font-size: 10px;
    line-height: 150%;
  }
}
#mad-content #mad-header .container-fluid #mad-header-author-tag {
  font-size: 11px;
  letter-spacing: 0.1em;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-header .container-fluid #mad-header-author-tag {
    font-size: 8px;
    margin-top: 15%;
  }
}
#mad-content #mad-header .container-fluid #mad-header-author-tag .fa-heart {
  color: #de6868;
}
#mad-content #mad-header .container-fluid #mad-header-author-tag a {
  display: inline;
}
#mad-content #mad-header .container-fluid #mad-header-author-tag a:link,
#mad-content #mad-header .container-fluid #mad-header-author-tag a:visited,
#mad-content #mad-header .container-fluid #mad-header-author-tag a:hover,
#mad-content #mad-header .container-fluid #mad-header-author-tag a:active {
  color: #2f2f2f;
  font-weight: bolder;
}
#mad-content #mad-introduction {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  height: auto !important;
  padding: 5% 20% 5%;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-introduction {
    padding: 5% 7%;
  }
}
#mad-content #mad-introduction .container-fluid {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
}
#mad-content #mad-introduction .container-fluid h3.mad-section-header {
  text-align: left;
  width: 90%;
  margin: auto;
  padding-bottom: 5%;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 200%;
  color: #2f2f2f !important;
  font-size: 27px;
  font-family: 'Raleway', cursive;
  font-weight: bolder;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-introduction .container-fluid h3.mad-section-header {
    font-size: 10px;
  }
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-introduction .container-fluid h3.mad-section-header {
    font-size: 20px;
  }
}
#mad-content #mad-introduction .container-fluid h3.mad-section-header .mad-section-header-numbering {
  display: inline;
  opacity: 0.4;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}
#mad-content #mad-introduction .container-fluid #mad-introduction-content {
  text-align: justify;
  width: 90%;
  margin: auto;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 200%;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-introduction .container-fluid #mad-introduction-content {
    font-size: 10px;
  }
}
#mad-content #mad-introduction .container-fluid #mad-introduction-content p {
  margin: 5% 0;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-introduction .container-fluid #mad-introduction-content #mad-chart-1 {
    margin-bottom: 10%;
  }
}
#mad-content #mad-preparation {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  height: auto !important;
  padding: 5% 20% 5%;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-preparation {
    padding: 5% 7%;
  }
}
#mad-content #mad-preparation .container-fluid {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
}
#mad-content #mad-preparation .container-fluid h3.mad-section-header {
  text-align: left;
  width: 90%;
  margin: auto;
  padding-bottom: 5%;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 200%;
  color: #2f2f2f !important;
  font-size: 27px;
  font-family: 'Raleway', cursive;
  font-weight: bolder;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-preparation .container-fluid h3.mad-section-header {
    font-size: 10px;
  }
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-preparation .container-fluid h3.mad-section-header {
    font-size: 20px;
  }
}
#mad-content #mad-preparation .container-fluid h3.mad-section-header .mad-section-header-numbering {
  display: inline;
  opacity: 0.4;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}
#mad-content #mad-preparation .container-fluid #mad-preparation-content {
  text-align: justify;
  width: 90%;
  margin: auto;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 200%;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-preparation .container-fluid #mad-preparation-content {
    font-size: 10px;
  }
}
#mad-content #mad-preparation .container-fluid #mad-preparation-content p {
  margin: 5% 0;
}
#mad-content #mad-preparation .container-fluid #mad-preparation-content #mad-preparation-standards {
  margin: 0%;
  padding: 0%;
}
#mad-content #mad-preparation .container-fluid #mad-preparation-content #mad-preparation-standards li {
  padding: 5% 0 3%;
  border-top: 0.5px rgba(0, 0, 0, 0.2) solid !important;
}
#mad-content #mad-preparation .container-fluid #mad-preparation-content #mad-preparation-standards li h4 {
  padding: 0 0 4%;
  color: #2f2f2f;
  font-size: 16px !important;
  font-weight: bold;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-preparation .container-fluid #mad-preparation-content #mad-preparation-standards li h4 {
    padding: 4% 0 8%;
    font-size: 14px !important;
    letter-spacing: 0px;
    line-height: 170%;
  }
}
#mad-content #mad-preparation .container-fluid #mad-preparation-content #mad-preparation-standards li h4 .fa-question-circle-o {
  color: #de6868;
  transform: scale(1.5);
  margin-right: 1%;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-preparation .container-fluid #mad-preparation-content #mad-preparation-standards li h4 .fa-question-circle-o {
    margin-right: 4%;
    letter-spacing: 0px;
  }
}
#mad-content #mad-preparation .container-fluid #mad-preparation-content #mad-preparation-standards li p {
  margin: 0 0 2%;
}
#mad-content #mad-income {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  height: auto !important;
  padding: 5% 20% 5%;
  padding: 5% 10% 5% !important;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-income {
    padding: 5% 7%;
  }
}
#mad-content #mad-income .container-fluid {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
}
#mad-content #mad-income .container-fluid h3.mad-section-header {
  text-align: left;
  width: 90%;
  margin: auto;
  padding-bottom: 5%;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 200%;
  color: #2f2f2f !important;
  font-size: 27px;
  font-family: 'Raleway', cursive;
  font-weight: bolder;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-income .container-fluid h3.mad-section-header {
    font-size: 10px;
  }
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-income .container-fluid h3.mad-section-header {
    font-size: 20px;
  }
}
#mad-content #mad-income .container-fluid h3.mad-section-header .mad-section-header-numbering {
  display: inline;
  opacity: 0.4;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}
#mad-content #mad-income .container-fluid h3.mad-section-header {
  width: 100%;
  padding: 0 16% 5%;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-income .container-fluid h3.mad-section-header {
    padding: 0 0 5%;
  }
}
#mad-content #mad-income .container-fluid .mad-income-content {
  text-align: justify;
  width: 90%;
  margin: auto;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 200%;
  width: 100%;
  padding: 0 16% 0;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-income .container-fluid .mad-income-content {
    font-size: 10px;
  }
}
#mad-content #mad-income .container-fluid .mad-income-content p {
  margin: 5% 0;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-income .container-fluid .mad-income-content {
    padding: 0;
  }
}
#mad-content #mad-income .container-fluid .mad-income-content #mad-video-1 {
  margin-top: 4%;
}
#mad-content #mad-income .container-fluid #mad-income-stats {
  text-align: justify;
  width: 90%;
  margin: auto;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 200%;
  width: 90% !important;
  padding: 5% 0;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-income .container-fluid #mad-income-stats {
    font-size: 10px;
  }
}
#mad-content #mad-income .container-fluid #mad-income-stats p {
  margin: 5% 0;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-income .container-fluid #mad-income-stats .col-lg-6 {
    margin: 10% 0 5%;
  }
}
#mad-content #mad-income .container-fluid #mad-income-stats h4 {
  padding: 0 0 4%;
  color: #2f2f2f;
  font-size: 16px !important;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6) !important;
  letter-spacing: 0px;
  margin-bottom: 3%;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-income .container-fluid #mad-income-stats h4 {
    padding: 4% 0 8%;
    font-size: 14px !important;
    letter-spacing: 0px;
    line-height: 170%;
  }
}
#mad-content #mad-income .container-fluid #mad-income-stats h4 span {
  display: inline;
  font-size: 14px;
  opacity: 0.4;
}
#mad-content #mad-expenses {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  height: auto !important;
  padding: 5% 20% 5%;
  padding: 5% 10% 5% !important;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-expenses {
    padding: 5% 7%;
  }
}
#mad-content #mad-expenses .container-fluid {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
}
#mad-content #mad-expenses .container-fluid h3.mad-section-header {
  text-align: left;
  width: 90%;
  margin: auto;
  padding-bottom: 5%;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 200%;
  color: #2f2f2f !important;
  font-size: 27px;
  font-family: 'Raleway', cursive;
  font-weight: bolder;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-expenses .container-fluid h3.mad-section-header {
    font-size: 10px;
  }
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-expenses .container-fluid h3.mad-section-header {
    font-size: 20px;
  }
}
#mad-content #mad-expenses .container-fluid h3.mad-section-header .mad-section-header-numbering {
  display: inline;
  opacity: 0.4;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}
#mad-content #mad-expenses .container-fluid h3.mad-section-header {
  width: 100%;
  padding: 0 16% 5%;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-expenses .container-fluid h3.mad-section-header {
    padding: 0 0 5%;
  }
}
#mad-content #mad-expenses .container-fluid .mad-expenses-content {
  text-align: justify;
  width: 90%;
  margin: auto;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 200%;
  width: 100%;
  padding: 0 16% 0;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-expenses .container-fluid .mad-expenses-content {
    font-size: 10px;
  }
}
#mad-content #mad-expenses .container-fluid .mad-expenses-content p {
  margin: 5% 0;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-expenses .container-fluid .mad-expenses-content {
    padding: 0;
  }
}
#mad-content #mad-expenses .container-fluid #mad-expenses-stats {
  text-align: justify;
  width: 90%;
  margin: auto;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 200%;
  width: 90% !important;
  padding: 5% 0;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-expenses .container-fluid #mad-expenses-stats {
    font-size: 10px;
  }
}
#mad-content #mad-expenses .container-fluid #mad-expenses-stats p {
  margin: 5% 0;
}
#mad-content #mad-expenses .container-fluid #mad-expenses-stats h4 {
  padding: 0 0 4%;
  color: #2f2f2f;
  font-size: 16px !important;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6) !important;
  letter-spacing: 0px;
  margin-bottom: 3%;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-expenses .container-fluid #mad-expenses-stats h4 {
    padding: 4% 0 8%;
    font-size: 14px !important;
    letter-spacing: 0px;
    line-height: 170%;
  }
}
#mad-content #mad-expenses .container-fluid #mad-expenses-stats h4 span {
  display: inline;
  font-size: 14px;
  opacity: 0.4;
}
#mad-content #mad-expenses .container-fluid #mad-expenses-stats ol.mad-income-stats-list {
  margin: 0%;
  padding: 0%;
}
#mad-content #mad-expenses .container-fluid #mad-expenses-stats ol.mad-income-stats-list li:first-child {
  border-top: 0.5px rgba(0, 0, 0, 0.2) solid;
}
#mad-content #mad-expenses .container-fluid #mad-expenses-stats ol.mad-income-stats-list li {
  width: 90%;
  padding: 3%;
  border-bottom: 0.5px rgba(0, 0, 0, 0.2) solid;
}
#mad-content #mad-expenses .container-fluid #mad-expenses-stats ol.mad-income-stats-list li:hover {
  background: rgba(200, 200, 200, 0.2);
  cursor: pointer;
}
#mad-content #mad-expenses .container-fluid #mad-expenses-stats ol.mad-income-stats-list li span {
  display: inline;
}
#mad-content #mad-expenses .container-fluid #mad-expenses-stats ol.mad-income-stats-list li .mad-income-stats-no {
  opacity: 0.4;
  font-weight: normal;
  margin-right: 5px;
}
#mad-content #mad-expenses .container-fluid #mad-expenses-stats ol.mad-income-stats-list li .mad-income-stats-no-last {
  opacity: 0.4;
  font-weight: normal;
  margin-right: 8px;
}
#mad-content #mad-expenses .container-fluid #mad-expenses-stats ol.mad-income-stats-list li .mad-income-stats-img {
  display: inline;
  width: 30px !important;
  height: 18px !important;
  vertical-align: middle;
  margin: 0 2%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}
#mad-content #mad-expenses .container-fluid #mad-expenses-stats ol.mad-income-stats-list li .img-nepal {
  box-shadow: none !important;
}
#mad-content #mad-expenses .container-fluid #mad-expenses-stats ol.mad-income-stats-list li .mad-income-stats-country {
  font-weight: bolder !important;
}
#mad-content #mad-expenses .container-fluid #mad-expenses-stats ol.mad-income-stats-list li .mad-income-stats-value {
  float: right;
  font-family: 'Montserrat', sans-serif !important;
}
#mad-content #mad-results {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  height: auto !important;
  padding: 5% 20% 5%;
  padding: 5% 10% 5% !important;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-results {
    padding: 5% 7%;
  }
}
#mad-content #mad-results .container-fluid {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
}
#mad-content #mad-results .container-fluid h3.mad-section-header {
  text-align: left;
  width: 90%;
  margin: auto;
  padding-bottom: 5%;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 200%;
  color: #2f2f2f !important;
  font-size: 27px;
  font-family: 'Raleway', cursive;
  font-weight: bolder;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-results .container-fluid h3.mad-section-header {
    font-size: 10px;
  }
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-results .container-fluid h3.mad-section-header {
    font-size: 20px;
  }
}
#mad-content #mad-results .container-fluid h3.mad-section-header .mad-section-header-numbering {
  display: inline;
  opacity: 0.4;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}
#mad-content #mad-results .container-fluid h3.mad-section-header {
  width: 100%;
  padding: 0 16% 5%;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-results .container-fluid h3.mad-section-header {
    padding: 0 0 5%;
  }
}
#mad-content #mad-results .container-fluid .mad-results-content {
  text-align: justify;
  width: 90%;
  margin: auto;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 200%;
  width: 100%;
  padding: 0 16% 0;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-results .container-fluid .mad-results-content {
    font-size: 10px;
  }
}
#mad-content #mad-results .container-fluid .mad-results-content p {
  margin: 5% 0;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-results .container-fluid .mad-results-content {
    padding: 0;
  }
}
#mad-content #mad-results .container-fluid .mad-results-content #mad-top100-chart {
  width: 80%;
  margin: auto;
}
#mad-content #mad-results .container-fluid #mad-podium {
  width: 80% !important;
  margin: 5% auto 5%;
  position: relative;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-results .container-fluid #mad-podium {
    width: 100% !important;
  }
}
#mad-content #mad-results .container-fluid #mad-podium #mad-podium-img {
  width: 100%;
}
#mad-content #mad-results .container-fluid #mad-podium #mad-podium-figure {
  position: relative;
  width: 100%;
  height: 480px !important;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-results .container-fluid #mad-podium #mad-podium-figure {
    height: 150px !important;
  }
}
#mad-content #mad-results .container-fluid #mad-podium #mad-podium-figure div {
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
#mad-content #mad-results .container-fluid #mad-podium #mad-podium-figure .mad-podium-1 {
  background-image: url("../assets/figure1/figure3.png");
  z-index: 9998 !important;
}
#mad-content #mad-results .container-fluid #mad-podium #mad-podium-figure .mad-podium-2 {
  background-image: url("../assets/figure1/figure4.png");
}
#mad-content #mad-results .container-fluid #mad-podium #mad-podium-figure .mad-podium-3 {
  background-image: url("../assets/figure1/figure5.png");
}
#mad-content #mad-results .container-fluid #mad-podium #mad-podium-figure .mad-podium-4 {
  background-image: url("../assets/figure1/figure2.png");
}
#mad-content #mad-results .container-fluid #mad-podium .mad-podium-country {
  position: absolute;
  width: 180px;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-results .container-fluid #mad-podium .mad-podium-country {
    width: 70px;
  }
}
#mad-content #mad-results .container-fluid #mad-podium .mad-podium-country:hover {
  cursor: pointer;
}
#mad-content #mad-results .container-fluid #mad-podium .mad-podium-country .country-container {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform: scale(0.9) !important;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-results .container-fluid #mad-podium .mad-podium-country .country-container {
    transform: scale(0.8) !important;
  }
}
#mad-content #mad-results .container-fluid #mad-podium .mad-podium-country .country-container:hover {
  transition: transform 1s;
  transform: scale(1.1) !important;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-results .container-fluid #mad-podium .mad-podium-country .country-container:hover {
    transform: scale(1) !important;
  }
}
#mad-content #mad-results .container-fluid #mad-podium .mad-podium-country .country-container:hover img {
  transition: box-shadow 1s;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}
#mad-content #mad-results .container-fluid #mad-podium .mad-podium-country .country-container img {
  width: 60%;
  margin: auto;
  transition: transform 1s, box-shadow 1s;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}
#mad-content #mad-results .container-fluid #mad-podium .mad-podium-country .country-container h4 {
  color: rgba(0, 0, 0, 0.6) !important;
  font-weight: bolder !important;
  margin: 15% 0 5%;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-results .container-fluid #mad-podium .mad-podium-country .country-container h4 {
    font-size: 10px !important;
  }
}
#mad-content #mad-results .container-fluid #mad-podium .mad-podium-country .country-container .mad-podium-time {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 200%;
  letter-spacing: 0px !important;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-results .container-fluid #mad-podium .mad-podium-country .country-container .mad-podium-time {
    font-size: 10px;
  }
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-results .container-fluid #mad-podium .mad-podium-country .country-container .mad-podium-time {
    font-size: 5px !important;
  }
}
#mad-content #mad-results .container-fluid #mad-podium .mad-podium-country-lo .country-container {
  transform: scale(0.7) !important;
}
#mad-content #mad-results .container-fluid #mad-podium .mad-podium-country-lo .country-container:hover {
  transform: scale(0.9) !important;
}
#mad-content #mad-results .container-fluid #mad-podium #mad-podium-country-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#mad-content #mad-results .container-fluid #mad-podium #mad-podium-country-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  left: 28%;
  top: 60%;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-results .container-fluid #mad-podium #mad-podium-country-2 {
    left: 25%;
  }
}
#mad-content #mad-results .container-fluid #mad-podium #mad-podium-country-3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  left: 72%;
  top: 60%;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-results .container-fluid #mad-podium #mad-podium-country-3 {
    left: 75%;
  }
}
#mad-content #mad-results .container-fluid #mad-results-stats {
  text-align: justify;
  width: 90%;
  margin: auto;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 200%;
  width: 90% !important;
  padding: 5% 0;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-results .container-fluid #mad-results-stats {
    font-size: 10px;
  }
}
#mad-content #mad-results .container-fluid #mad-results-stats p {
  margin: 5% 0;
}
#mad-content #mad-results .container-fluid #mad-results-stats h4 {
  padding: 0 0 4%;
  color: #2f2f2f;
  font-size: 16px !important;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6) !important;
  letter-spacing: 0px;
  margin-bottom: 3%;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-results .container-fluid #mad-results-stats h4 {
    padding: 4% 0 8%;
    font-size: 14px !important;
    letter-spacing: 0px;
    line-height: 170%;
  }
}
#mad-content #mad-results .container-fluid #mad-results-stats h4 span {
  display: inline;
  font-size: 14px;
  opacity: 0.4;
}
#mad-content #mad-results .container-fluid #mad-results-stats ol.mad-income-stats-list {
  margin: 0%;
  padding: 0%;
}
#mad-content #mad-results .container-fluid #mad-results-stats ol.mad-income-stats-list li:first-child {
  border-top: 0.5px rgba(0, 0, 0, 0.2) solid;
}
#mad-content #mad-results .container-fluid #mad-results-stats ol.mad-income-stats-list li {
  width: 90%;
  padding: 3%;
  border-bottom: 0.5px rgba(0, 0, 0, 0.2) solid;
}
#mad-content #mad-results .container-fluid #mad-results-stats ol.mad-income-stats-list li:hover {
  background: rgba(200, 200, 200, 0.2);
  cursor: pointer;
}
#mad-content #mad-results .container-fluid #mad-results-stats ol.mad-income-stats-list li span {
  display: inline;
}
#mad-content #mad-results .container-fluid #mad-results-stats ol.mad-income-stats-list li .mad-income-stats-no {
  opacity: 0.4;
  font-weight: normal;
  margin-right: 5px;
}
#mad-content #mad-results .container-fluid #mad-results-stats ol.mad-income-stats-list li .mad-income-stats-no-last {
  opacity: 0.4;
  font-weight: normal;
  margin-right: 8px;
}
#mad-content #mad-results .container-fluid #mad-results-stats ol.mad-income-stats-list li .mad-income-stats-img {
  display: inline;
  width: 30px !important;
  height: 18px !important;
  vertical-align: middle;
  margin: 0 2%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}
#mad-content #mad-results .container-fluid #mad-results-stats ol.mad-income-stats-list li .img-nepal {
  box-shadow: none !important;
}
#mad-content #mad-results .container-fluid #mad-results-stats ol.mad-income-stats-list li .mad-income-stats-country {
  font-weight: bolder !important;
}
#mad-content #mad-results .container-fluid #mad-results-stats ol.mad-income-stats-list li .mad-income-stats-value {
  float: right;
  font-family: 'Montserrat', sans-serif !important;
}
#mad-content #mad-other-countries {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  height: auto !important;
  padding: 5% 20% 5%;
  padding: 5% 10% 5% !important;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-other-countries {
    padding: 5% 7%;
  }
}
#mad-content #mad-other-countries .container-fluid {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
}
#mad-content #mad-other-countries .container-fluid h3.mad-section-header {
  text-align: left;
  width: 90%;
  margin: auto;
  padding-bottom: 5%;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 200%;
  color: #2f2f2f !important;
  font-size: 27px;
  font-family: 'Raleway', cursive;
  font-weight: bolder;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-other-countries .container-fluid h3.mad-section-header {
    font-size: 10px;
  }
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-other-countries .container-fluid h3.mad-section-header {
    font-size: 20px;
  }
}
#mad-content #mad-other-countries .container-fluid h3.mad-section-header .mad-section-header-numbering {
  display: inline;
  opacity: 0.4;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}
#mad-content #mad-other-countries .container-fluid h3.mad-section-header {
  width: 100%;
  padding: 0 16% 5%;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-other-countries .container-fluid h3.mad-section-header {
    padding: 0 0 5%;
  }
}
#mad-content #mad-other-countries .container-fluid .mad-other-countries-content {
  text-align: justify;
  width: 90%;
  margin: auto;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 200%;
  width: 100%;
  padding: 0 16% 0;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-other-countries .container-fluid .mad-other-countries-content {
    font-size: 10px;
  }
}
#mad-content #mad-other-countries .container-fluid .mad-other-countries-content p {
  margin: 5% 0;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-other-countries .container-fluid .mad-other-countries-content {
    padding: 0;
  }
}
#mad-content #mad-other-countries .container-fluid .mad-other-countries-content #mad-other-countries-facts {
  margin: 0%;
  padding: 0%;
}
#mad-content #mad-other-countries .container-fluid .mad-other-countries-content #mad-other-countries-facts li {
  padding: 5% 0 3%;
  border-top: 0.5px rgba(0, 0, 0, 0.2) solid !important;
}
#mad-content #mad-other-countries .container-fluid .mad-other-countries-content #mad-other-countries-facts li h4 {
  padding: 0 0 4%;
  color: #2f2f2f;
  font-size: 16px !important;
  font-weight: bold;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-other-countries .container-fluid .mad-other-countries-content #mad-other-countries-facts li h4 {
    padding: 4% 0 8%;
    font-size: 14px !important;
    letter-spacing: 0px;
    line-height: 170%;
  }
}
#mad-content #mad-other-countries .container-fluid .mad-other-countries-content #mad-other-countries-facts li h4 .fa-question-circle-o {
  color: #de6868;
  transform: scale(1.5);
  margin-right: 1%;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-other-countries .container-fluid .mad-other-countries-content #mad-other-countries-facts li h4 .fa-question-circle-o {
    margin-right: 4%;
    letter-spacing: 0px;
  }
}
#mad-content #mad-other-countries .container-fluid .mad-other-countries-content #mad-other-countries-facts li p {
  margin: 0 0 2%;
}
#mad-content #mad-other-countries .container-fluid .mad-other-countries-content #mad-other-countries-facts .mad-stats-list {
  margin: 5% 0;
}
#mad-content #mad-other-countries .container-fluid .mad-other-countries-content #mad-other-countries-facts .mad-stats-list li {
  width: 100% !important;
  padding: 2% !important;
}
#mad-content #mad-other-countries .container-fluid .mad-other-countries-content #mad-other-countries-facts .mad-stats-list li:nth-child(-n+7) {
  background: rgba(143, 209, 132, 0.1);
}
#mad-content #mad-other-countries .container-fluid .mad-other-countries-content #mad-other-countries-facts .mad-stats-list li:nth-child(-n+7):hover {
  background: rgba(143, 209, 132, 0.3);
}
#mad-content #mad-other-countries .container-fluid .mad-other-countries-content #mad-other-countries-facts .mad-stats-list li:nth-last-child(-n+5) {
  background: rgba(222, 104, 104, 0.1);
}
#mad-content #mad-other-countries .container-fluid .mad-other-countries-content #mad-other-countries-facts .mad-stats-list li:nth-last-child(-n+5):hover {
  background: rgba(222, 104, 104, 0.3);
}
#mad-content #mad-other-countries .container-fluid .mad-other-countries-content #mad-other-countries-facts #mad-search-form {
  text-align: center;
  width: 80%;
  margin: 5% auto 5%;
}
#mad-content #mad-other-countries .container-fluid .mad-other-countries-content #mad-other-countries-facts #mad-search-form #mad-search-form-input {
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 200%;
  background: none !important;
  border: none !important;
  border-bottom: 0.5px rgba(0, 0, 0, 0.6) solid !important;
  padding: 2% 5%;
  margin-bottom: 2%;
  width: 50%;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-other-countries .container-fluid .mad-other-countries-content #mad-other-countries-facts #mad-search-form #mad-search-form-input {
    font-size: 10px;
  }
}
#mad-content #mad-other-countries .container-fluid .mad-other-countries-content #mad-other-countries-facts #mad-search-form #mad-search-form-input::placeholder {
  opacity: 0.5;
}
#mad-content #mad-other-countries .container-fluid .mad-other-countries-content #mad-other-countries-facts #mad-search-form #mad-search-form-input:focus {
  outline: none !important;
  border: none !important;
}
#mad-content #mad-other-countries .container-fluid .mad-other-countries-content #mad-other-countries-facts #mad-search-form #mad-search-form-submit {
  background: none !important;
  border: none !important;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 200%;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-other-countries .container-fluid .mad-other-countries-content #mad-other-countries-facts #mad-search-form #mad-search-form-submit {
    font-size: 10px;
  }
}
#mad-content #mad-other-countries .container-fluid .mad-other-countries-content #mad-other-countries-facts #mad-search-form #mad-search-form-submit:hover {
  color: #2f2f2f !important;
  font-weight: bolder !important;
}
#mad-content #mad-other-countries .container-fluid .mad-other-countries-content #mad-other-countries-facts #mad-search-form-output .col-lg-6:first-child {
  padding-right: 35px !important;
}
#mad-content #mad-other-countries .container-fluid .mad-other-countries-content #mad-other-countries-facts #mad-search-form-output .col-lg-6:last-child {
  padding-left: 35px !important;
}
#mad-content #mad-other-countries .container-fluid .mad-other-countries-content #mad-other-countries-facts #mad-search-form-output img {
  display: inline !important;
  width: 55px !important;
  height: 33px !important;
  vertical-align: bottom;
  margin-right: 15px;
  margin-bottom: 2px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  transition: transform 1s, box-shadow 1s;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-other-countries .container-fluid .mad-other-countries-content #mad-other-countries-facts #mad-search-form-output img {
    width: 34px !important;
    height: 20px !important;
  }
}
#mad-content #mad-other-countries .container-fluid .mad-other-countries-content #mad-other-countries-facts #mad-search-form-output img:hover {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
  transition: transform 1s, box-shadow 1s;
}
#mad-content #mad-other-countries .container-fluid .mad-other-countries-content #mad-other-countries-facts #mad-search-form-output h1 {
  display: inline !important;
  font-size: 28px;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-other-countries .container-fluid .mad-other-countries-content #mad-other-countries-facts #mad-search-form-output h1 {
    font-size: 18px !important;
    color: #2f2f2f;
  }
}
#mad-content #mad-other-countries .container-fluid .mad-other-countries-content #mad-other-countries-facts #mad-search-form-output h4 {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 200%;
  font-size: 14px !important;
  padding-bottom: 1%;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-other-countries .container-fluid .mad-other-countries-content #mad-other-countries-facts #mad-search-form-output h4 {
    font-size: 10px;
  }
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-other-countries .container-fluid .mad-other-countries-content #mad-other-countries-facts #mad-search-form-output h4 {
    font-size: 10px !important;
    padding-bottom: 0.5%;
  }
}
#mad-content #mad-other-countries .container-fluid .mad-other-countries-content #mad-other-countries-facts #mad-search-form-output h4 span {
  float: right;
}
#mad-content #mad-other-countries .container-fluid .mad-other-countries-content #mad-other-countries-facts #mad-search-form-output .mad-output-desc {
  padding-top: 4%;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-other-countries .container-fluid .mad-other-countries-content #mad-other-countries-facts #mad-search-form-output .mad-output-desc {
    padding-top: 10%;
  }
}
#mad-content #mad-other-countries .container-fluid .mad-other-countries-content #mad-other-countries-facts #mad-search-form-output .mad-output-desc,
#mad-content #mad-other-countries .container-fluid .mad-other-countries-content #mad-other-countries-facts #mad-search-form-output .mad-output-expense {
  padding-bottom: 3%;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-other-countries .container-fluid .mad-other-countries-content #mad-other-countries-facts #mad-search-form-output .mad-output-desc,
  #mad-content #mad-other-countries .container-fluid .mad-other-countries-content #mad-other-countries-facts #mad-search-form-output .mad-output-expense {
    padding-bottom: 1%;
  }
}
#mad-content #mad-interesting-facts {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  height: auto !important;
  padding: 5% 20% 5%;
  padding: 5% 10% 5% !important;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-interesting-facts {
    padding: 5% 7%;
  }
}
#mad-content #mad-interesting-facts .container-fluid {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
}
#mad-content #mad-interesting-facts .container-fluid h3.mad-section-header {
  text-align: left;
  width: 90%;
  margin: auto;
  padding-bottom: 5%;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 200%;
  color: #2f2f2f !important;
  font-size: 27px;
  font-family: 'Raleway', cursive;
  font-weight: bolder;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-interesting-facts .container-fluid h3.mad-section-header {
    font-size: 10px;
  }
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-interesting-facts .container-fluid h3.mad-section-header {
    font-size: 20px;
  }
}
#mad-content #mad-interesting-facts .container-fluid h3.mad-section-header .mad-section-header-numbering {
  display: inline;
  opacity: 0.4;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}
#mad-content #mad-interesting-facts .container-fluid h3.mad-section-header {
  width: 100%;
  padding: 0 16% 5%;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-interesting-facts .container-fluid h3.mad-section-header {
    padding: 0 0 5%;
  }
}
#mad-content #mad-interesting-facts .container-fluid .mad-interesting-facts-content {
  text-align: justify;
  width: 90%;
  margin: auto;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 200%;
  width: 100%;
  padding: 0 16% 0;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-interesting-facts .container-fluid .mad-interesting-facts-content {
    font-size: 10px;
  }
}
#mad-content #mad-interesting-facts .container-fluid .mad-interesting-facts-content p {
  margin: 5% 0;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-interesting-facts .container-fluid .mad-interesting-facts-content {
    padding: 0;
  }
}
#mad-content #mad-interesting-facts .container-fluid .mad-interesting-facts-content .mad-interesting-facts-numbering {
  opacity: 0.4;
  font-size: 25px;
}
#mad-content #mad-interesting-facts .container-fluid .mad-interesting-facts-content .mad-ifn-r {
  text-align: right;
}
#mad-content #mad-feedback {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  height: auto !important;
  padding: 5% 20% 5%;
  padding: 5% 10% 5% !important;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-feedback {
    padding: 5% 7%;
  }
}
#mad-content #mad-feedback .container-fluid {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
}
#mad-content #mad-feedback .container-fluid h3.mad-section-header {
  text-align: left;
  width: 90%;
  margin: auto;
  padding-bottom: 5%;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 200%;
  color: #2f2f2f !important;
  font-size: 27px;
  font-family: 'Raleway', cursive;
  font-weight: bolder;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-feedback .container-fluid h3.mad-section-header {
    font-size: 10px;
  }
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-feedback .container-fluid h3.mad-section-header {
    font-size: 20px;
  }
}
#mad-content #mad-feedback .container-fluid h3.mad-section-header .mad-section-header-numbering {
  display: inline;
  opacity: 0.4;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}
#mad-content #mad-feedback .container-fluid h3.mad-section-header {
  width: 100%;
  padding: 0 16% 5%;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-feedback .container-fluid h3.mad-section-header {
    padding: 0 0 5%;
  }
}
#mad-content #mad-feedback .container-fluid .mad-feedback-content {
  text-align: justify;
  width: 90%;
  margin: auto;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 200%;
  width: 100%;
  padding: 0 16% 0;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-feedback .container-fluid .mad-feedback-content {
    font-size: 10px;
  }
}
#mad-content #mad-feedback .container-fluid .mad-feedback-content p {
  margin: 5% 0;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-feedback .container-fluid .mad-feedback-content {
    padding: 0;
  }
}
#mad-content #mad-feedback .container-fluid #mad-feedback-form {
  padding: 0 16%;
  margin: 5% auto;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-feedback .container-fluid #mad-feedback-form {
    padding: 0;
  }
}
#mad-content #mad-feedback .container-fluid #mad-feedback-form input,
#mad-content #mad-feedback .container-fluid #mad-feedback-form textarea {
  background: none !important;
  border: none !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none !important;
  border-radius: 0 !important;
  border-bottom: 0.5px rgba(0, 0, 0, 0.2) solid !important;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 200%;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-feedback .container-fluid #mad-feedback-form input,
  #mad-content #mad-feedback .container-fluid #mad-feedback-form textarea {
    font-size: 10px;
  }
}
#mad-content #mad-feedback .container-fluid #mad-feedback-form input:focus,
#mad-content #mad-feedback .container-fluid #mad-feedback-form textarea:focus {
  outline: none !important;
  border: none !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none !important;
  border-bottom: 0.5px rgba(0, 0, 0, 0.2) solid !important;
}
#mad-content #mad-feedback .container-fluid #mad-feedback-form input::placeholder,
#mad-content #mad-feedback .container-fluid #mad-feedback-form textarea::placeholder {
  opacity: 0.5;
}
#mad-content #mad-feedback .container-fluid #mad-feedback-form #message {
  margin-top: 3%;
}
#mad-content #mad-feedback .container-fluid #mad-feedback-form .errorMessage {
  text-align: left;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 200%;
  margin: 2% 0 0 2%;
  font-size: 10px;
  color: #de6868;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-feedback .container-fluid #mad-feedback-form .errorMessage {
    font-size: 10px;
  }
}
#mad-content #mad-feedback .container-fluid #mad-feedback-form-submit {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 200%;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-feedback .container-fluid #mad-feedback-form-submit {
    font-size: 10px;
  }
}
#mad-content #mad-feedback .container-fluid #mad-feedback-form-submit:hover {
  cursor: pointer;
  color: #2f2f2f;
  font-weight: bolder !important;
}
#mad-content #mad-feedback .container-fluid .form-submitted {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 200%;
  margin-top: 3%;
  font-size: 8px;
  opacity: 0;
  transition: transform 2s, opacity 2s;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-feedback .container-fluid .form-submitted {
    font-size: 10px;
  }
}
#mad-content #mad-references {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  height: auto !important;
  padding: 5% 20% 5%;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-references {
    padding: 5% 7%;
  }
}
#mad-content #mad-references .container-fluid {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
}
#mad-content #mad-references .container-fluid h3.mad-section-header {
  text-align: left;
  width: 90%;
  margin: auto;
  padding-bottom: 5%;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 200%;
  color: #2f2f2f !important;
  font-size: 27px;
  font-family: 'Raleway', cursive;
  font-weight: bolder;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-references .container-fluid h3.mad-section-header {
    font-size: 10px;
  }
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-references .container-fluid h3.mad-section-header {
    font-size: 20px;
  }
}
#mad-content #mad-references .container-fluid h3.mad-section-header .mad-section-header-numbering {
  display: inline;
  opacity: 0.4;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}
#mad-content #mad-references .container-fluid {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
}
#mad-content #mad-references .container-fluid #mad-references-list {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 200%;
  padding-left: 5%;
  font-size: 10px !important;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content #mad-references .container-fluid #mad-references-list {
    font-size: 10px;
  }
}
#mad-content #mad-references .container-fluid #mad-references-list li {
  text-align: left !important;
  margin: 2% 0;
}
#mad-content footer#mad-footer {
  margin: 0%;
  padding: 0%;
  width: 100%;
  padding-bottom: 1%;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 200%;
  font-size: 10px !important;
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content footer#mad-footer {
    font-size: 10px;
  }
}
@media only screen and (max-width: 479px) and (orientation: portrait) {
  #mad-content footer#mad-footer {
    padding-bottom: 3%;
  }
}
/*# sourceMappingURL=index.css.map */